body{
    background-color: rgba(1, 1, 1, 0.842);
}

#gameWrapper{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
    margin: auto;
    margin-top: 100px;
    border: 1px solid red;
    height: 80vh;
    width: 90vw;
}
.boardWrapper{
    border: 1px solid blue;
    height: 40vw;
    width: 40vw;
    min-height: 30vh;
    min-width: 30vh;
    max-height: 50vh;
    max-width: 50vh;
    
}
.gameBoard{
    display: absolute;
    margin: 0;
    height: 100%;
    width: 100%;
}
td{
    border: 1px solid green;
}

#compBoard td{
    cursor: pointer;
}
